/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: "Whitney", sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
    height: 70px;
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    padding: 4px;
    color: inherit;
}
    /* Buttons */
.btn-white {
    background-color: white;
    color: black;

}
.btn-small {
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.85em;

}
/* HEADER */
header {
    height: 50px;
    background-color: #4681EF;
}
.header-nav{
    line-height: 50px;
    color: white;
}
.nav-center {
    width: 70%;
    text-align: center;
}
.nav-logo {
    width: 15%;
}
.nav-logo img {
    vertical-align: middle;
    width: 80%;
}
.nav-btn {
    width: 15%;
    text-align: right;
}
.nav-center .header-menu li {
    display: inline-block;
}
/* MAIN */
/* Jumbotron */
.jumbotron {
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}