/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: "Whitney", sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    /* test */
    border: 1px solid black;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
    height: 70px;
    background-color: beige;
}
img {
    width: 100%;
}

/* HEADER */
header {
    height: 70px;
    background-color: #4681EF;
}

.nav-center {
    width: 70%;
}
.nav-logo {
    width: 15%;
}
.nav-btn {
    width: 15%;
}
